<div class='payment-method-engine-well'>

  <div>
    <h2>Stripe</h2>
    <div class="edit_link">
      <%= link_to 'Edit', '#', class: 'nimbleshop-payment-method-edit', id: 'nimbleshop-stripe-payment-method-edit' %>
      <%= link_to main_app.disable_admin_payment_method_path(NimbleshopStripe::Stripe.first),
                                                    class: 'nimbleshop-payment-method-delete', method: :put do %>
          Disable
      <% end %>
    </div>


    <div class='clear'></div>
  </div>

  <%= render partial: '/nimbleshop_stripe/stripes/form' %>
</div>

<script>
  $(function(){

    $('#nimbleshop-stripe-payment-method-edit').toggle(function(){
      $('#nimbleshop-stripe-form-well').show();
    }, function(){
      $('#nimbleshop-stripe-form-well').hide();
    });

  })
</script>
