<div class='payment-method-engine-well'>

   <div>
    <h2> Splitable </h2>

     <div class="edit_link">
       <%= link_to 'Edit', '#', class: "nimbleshop-payment-method-edit", id: "nimbleshop-splitable-payment-method-edit" %>
      <%= link_to main_app.disable_admin_payment_method_path(NimbleshopSplitable::Splitable.first),
                                                    class: 'nimbleshop-payment-method-delete', method: :put do %>
          Disable
      <% end %>
     </div>
    <div class='clear'></div>
  </div>

  <%= render partial: '/nimbleshop_splitable/splitables/form' %>

</div>

<script>
  $(function(){

    $('#nimbleshop-splitable-payment-method-edit').toggle(function(){
      $('#nimbleshop-splitable-form-well').show();
    }, function(){
      $('#nimbleshop-splitable-form-well').hide();
    });

  })
</script>
